.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(#e62d3c 100%),
    url('../images/LFLbgNews.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply; /* ключевая строка */
}

.containerBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
}

.containerBlockTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 42px;
}

.containerBlockTitle span:nth-of-type(1) {
  font-size: 36px;
  font-weight: 600;
  color: #fff !important;
}

.containerBlockTitle span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 42px;
  background-color: #ffff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.containerBlockTitle span:nth-of-type(2):hover {
  background-color: #e62d3c;
  color: #fff !important;
}

.containerBlockCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 458px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 64px;
  padding: 0;
}

.containerBlockCard img {
  width: 623px !important;
  height: 458px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.containerBlockCardInfo {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  width: 687px;
  padding: 32px 27px;
}

.datePill {
  font-size: 16px;
  font-weight: 500;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.richText {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.containerBlockNews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-top: 64px;
  margin-bottom: 84px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 31%;
  height: 457px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 279px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  gap: 10px;
}

.cardBottom span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.cardBottom span:nth-of-type(2) {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  height: 62px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
  }

  .containerBlock {
    padding: 10px;
  }

  .containerBlockTitle {
    margin-top: 22px;
  }

  .containerBlockTitle span:nth-of-type(1) {
    font-size: 20px;
  }

  .containerBlockTitle span:nth-of-type(2) {
    padding: 8px 12px;
    font-size: 14px;
  }

  .containerBlockTitle span:nth-of-type(2):hover {
  }

  .containerBlockCard {
    display: none;
  }

  .containerBlockNews {
    flex-direction: column;
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 457px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
  }

  .card img {
    width: 100%;
    height: 279px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .cardBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap: 10px;
  }

  .cardBottom span:nth-of-type(1) {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }

  .cardBottom span:nth-of-type(2) {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    height: 62px;
    overflow: hidden;
  }
}
